<% comments.each do |comment| %>
  <p class="comment_back">
      <%= link_to user_path(comment.user), class: "user_#{comment.user.id}" do %>
         <%= attachment_image_tag comment.user, :profile_image, fallback: "noimage.png", size: "50x50", class: "appli_img" %>
      <% end %>
            <%= comment.user.nickname %>さんからのコメントです!
        <% if current_user == comment.user %>
           <%= link_to '削除', diary_comment_path(comment), class: 'btn btn-default bt_del', method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
  </p>
        <% end %>
  <p><%= comment.comment %></p>
<% end %>