<% diaries.each do |diary| %>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box">
			<div class="index_lists">
				<p class="show_back" style="font-size: 20px; padding-left: 60px;"><%= diary.user.nickname %>の日記</p><br>
				<p><%= link_to diary_path(diary) do %>
				        <%= attachment_image_tag(diary, :body_image, :fill, 200, 200, fallback: "diary_no.png", size: '200x200', class: "appli_img3 index_img") %>
				   <% end %></p><br>
				<p><%= link_to diary_path(diary) do %>
					    <span class="diary_point">コメントする</span>
				   <% end %></p><br>
				<p class="tag_area" style="padding-left: 60px;"><%= render 'diaries/tag_list', tag_list: diary.tag_list %></p>
				<p class="show_back" style="padding-left: 60px;">投稿日　<%= diary.created_at.strftime('%Y/%m/%d') %></p>
			</div>
		</div>
	</div>
<% end %>