<div class="col-md-7 col-sm-7 col-xs-12">
        <%= form_for(diary) do |f| %>
    <div class="field">
    	<%= f.label :tag_list, 'タグ  (タグはカンマ区切りで複数入力できます)' %><br>
    	<%= f.text_field :tag_list, value: @diary.tag_list.join(','), class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label :body, '本文(※必須)' %><br>
        <%= f.text_area :body, size: "90x10", class: "diary_body form-control" %>
    </div>
    <h4>本日の実績を入力してください(※必須)　※飲酒量は350ml缶で1とします</h4>
    <div class="field" style="margin-bottom: 5px;">
    	<%= f.number_field :exercise , placeholder: "運動時間", class: "form-control" %>
    </div>

    <div class="field" style="margin-bottom: 5px;">
    	<%= f.number_field :sleep , placeholder: "睡眠時間", class: "form-control" %>
    </div>

    <div class="field" style="margin-bottom: 5px;">
    	<%= f.number_field :cigarette , placeholder: "喫煙本数", class: "form-control" %>
    </div>

    <div class="field">
    	<%= f.number_field :drinking , placeholder: "飲酒量", class: "form-control" %>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="field">
        <%= f.file_field :body_image, class: 'img_field', style: 'display:none;' %>
        <%= attachment_image_tag @diary, :body_image, :fill, 200, 200, fallback: 'diary_no.png', size:'300x300', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
    </div>

    <div class="field" style="margin-top: 15px;">
    	<%= f.submit '投稿', class: "btn btn-success form-control"  %>
    </div>
        <% end %>
</div>