<div class="container" style="margin-top: 100px;">
	<div class="row">
			<div class="col-xs-12">
				<h2>投稿一覧</h2>
				<% @diaries.each do |diary| %>
				<div class="col-xs-4">
					<div class="box">
						<div class="index_lists">
							<p><%= diary.user.nickname %>の投稿</p><br>
							<p><%= link_to diary_path(diary) do %>
							<%= attachment_image_tag(diary, :body_image, :fill, 200, 200, fallback: "no_image.jpg") %>
							<% end %></p><br>
							<p><%= link_to diary_path(diary) do %>
								<p>詳細ページへ！</p>
							   <% end %></p><br>
							<p>[<%= render 'diaries/tag_list', tag_list: diary.tag_list %>]</p>
							<p>投稿日　<%= diary.created_at.strftime('%Y/%m/%d') %></p>
				        </div>
				    </div>
				</div>
					<% end %>
		    </div>
	</div>
</div>