<div class="container" style="margin-top: 100px;">
	<div class="row">
          <%= form_for(@user) do |f| %>
       <div class="field">
		  <%= f.label :image, 'アイコン' %>
		  <%= f.attachment_field :profile_image, class: "user_image" %>
       </div>
       <div class="field">
       	  <%= f.label :nickname, 'ニックネーム' %>
       	  <%= f.text_field :nickname, autofocus: true, class: "nickname" %>
       </div>
       <div class="field">
       	  <%= f.label :profile, '自己紹介' %>
       	  <%= f.text_field :profile, autofocus: true, class: "profile" %>
       </div>
       <div class="actions">
          <%= f.submit '登録' %>
       </div>
       <% end %>
    </div>
</div>