<div class="container" style="margin-top: 100px;">
	<div class="row">
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-6 col-xs-12">
        <h2 class="font_img">プロフィール編集</h2>
            <%= form_for(@user) do |f| %>
         <div class="field">
      		  <%= f.file_field :profile_image, class: 'img_field', style: 'display:none;' %>
      		  <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: 'noimage.png', size: '300x300', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
         </div>
         <div class="field">
         	  <%= f.label :nickname, 'ネーム' %><br>
         	  <%= f.text_field :nickname, autofocus: true, class: "nickname form-control" %>
         </div>
         <div class="field" style="margin-bottom: 20px;">
         	  <%= f.label :profile, '自己紹介' %><br>
         	  <%= f.text_area :profile, autofocus: true, size: "90x5", class: "profile form-control" %>
         </div>
         <div class="actions">
            <%= f.submit '登録', class: "btn btn-success form-control" %>
         </div>
         <% end %>
     </div>
     <div class="col-md-3 col-xs-3"></div>
    </div>
</div>