<div class="container" style="margin-top: 100px;">
	<div class="row">
		<div class="col-xs-3">
		<table class="table">
			<tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
			<tr>
                <th>ユーザーネーム</th>
				<th><%= @user.nickname %></th>
			</tr>
			<tr>
			    <th>プロフィール</th>
				<th><%= @user.profile %></th>
			</tr>
		</table>
		<%= link_to 'プロフィール編集', edit_user_path(@user), class: "col-xs-12 btn btn-default edit_user_#{@user.id}" %>
		<%= link_to 'マイカレンダー', my_calendar_path(@user), class: "col-xs-12 btn btn-default" %>
	    </div>
	    <div class="col-xs-9">

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>タグ</th>
					<th>メディア</th>
					<th>投稿内容</th>
					<th>運動時間</th>
					<th>睡眠時間</th>
					<th>喫煙本数</th>
					<th>飲酒量</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @diaries.each do |diary| %>
				<tr>
					<td><%= render 'diaries/tag_list', tag_list: diary.tag_list %></td>
					<td><%= attachment_image_tag(diary, :body_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
					<td><%= diary.body %></td>
					<td><%= diary.exercise %>時間</td>
					<td><%= diary.sleep %>時間</td>
					<td><%= diary.cigarette %>本</td>
					<td><%= diary.drinking %></td>
					<td><%= link_to "編集する", edit_diary_path(diary), method: :get, class: "btn btn-primary"%>
						<%= link_to "削除", diary_path(diary), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	    </div>
	    <div class="col-xs-6">
		<%= high_chart('sample', @graph) %><br>
	    </div>
	</div>
</div>