<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<%= render 'users/user-prof', user: @user %>
			<% unless @user.id == current_user.id %>
			  <% if @is_room == true %>
			    <%= link_to 'メッセージ', room_path(@room_id), class: 'btn-sm btn-success' %>
			  <% else %>
			    <%= form_with model: @room, url: rooms_path, local: true do |f| %>
			      <%= fields_for @entry do |e| %>
				      <%= e.hidden_field :user_id, value: @user.id %>
				      <%= f.submit 'メッセージ', class: 'btn-sm btn-success' %>
			      <% end %>
			    <% end%>
			  <% end %>
			<% end %>
	    </div>
	    <div class="col-md-9 col-sm-9 col-xs-12">
           <h2 class="font_img"><%= @user.nickname %>の記録</h2><%= paginate @diaries %>
        </div>
        <div class="col-md-9 col-sm-9  col-xs-12">
		   <%= render 'users/user-diary', diaries: @diaries %>
	    </div>
	</div>
	    <div class="row">
		    <div class="col-md-6 col-sm-6 col-xs-12">
		    	<div class="box">
			       <%= high_chart('my_chart', @graph) %>
			   </div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
			   <div class="box">
			       <%= high_chart('my_chart2', @graph2) %>
			   </div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
			   <div class="box">
			       <%= high_chart('my_chart3', @graph3) %>
			   </div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
			   <div class="box">
			       <%= high_chart('my_chart4', @graph4) %>
			   </div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12"></div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<%= link_to 'さらに詳しく見る', user_graphs_path, class: 'btn btn-success btn-block' %>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12"></div>
		</div>

</div>