<!DOCTYPE html>
<html>
  <head>
    <title>QOH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body class="background">
    <header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #90EE90;">
      <div>
        <%= link_to home_about_path do %>
        <nav class="nav navbar-nav navbar-left">
          <span class="site_name">QOH<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></span><span style="color: #fff;">  quality~of~health</span>
        </nav>
        <% end %>
        <nav>
          <div id="sp-menu">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                  <%= render 'layouts/member-head' %>
              <% else %>
                  <%= render 'layouts/guest-head' %>
              <% end %>
            </ul>
          </div>
        </nav>

        <div id="hm-icon">
             <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
             </a>
        </div>

      </div>
    </header>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
